@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rock Bottom High!</h1>
    <p>Please Login to see data pertinent to your position in this school</p>
</div>
